body{
    background-color:azure;
    display:table;
    margin-left:0;
    margin-right:auto;
    text-align: justify;
}
h1{
    font-family:'Open Sans', 'Papyrus', 'Menlo', 'Lucida Calligraphy';
    color: rgb(127, 25,255);
    
}
p{
    font-size:18px;
}