body{
    height: 100vh;
    border-color:blue;
    padding:0px;
}
div{
    margin:5px;
    width:200px;
    height: 200px;
    clear:both;
}
.left{
    background-color: rgb(252,6,2);
    float:left;
}
.right{
    background-color: rgb(10,252,1);
    float:right;
}
.one{
    background-color:red;
}
.two{
    background-color:orange;
}
.three{
    background-color:yellow;
}
.four{
    background-color:green;
}
.five{
    background-color:blue;
}
.six{
    background-color:indigo;
}
.seven{
    background-color:violet;
}
div {
    width: 200px;
    height:200px;
}